#app { font-family: sans-serif; max-width: 1000px; margin: auto; }
#search { border: 1px solid #000000; padding: 10px; margin-left: 100px; border-radius: 10px; width: 250px; }
#img { width: 200px; height: 200px; border-radius: 10px;}
.card { border: 1px solid #ddd; padding: 15px; border-radius: 10px; width: 250px; }
.btn-order { background-color: #27ae60; color: white; border: none; padding: 10px; border-radius: 5px; cursor: pointer; }
.sold-out { color: #e74c3c; font-weight: bold; }
.menu-container {
  display: grid;
  /* Crée autant de colonnes de 250px que possible */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px; /* Espace vertical et horizontal entre les cartes */
  flex: 3;   /* Prend la majorité de l'espace par rapport au panier */
}
.content-wrapper {
  display: flex;
  gap: 30px; /* Espace entre la grille de plats et le panier */
  align-items: flex-start;
  padding: 20px;
}
.cart-container {
    flex: 1; /* Prend 1/4 de la largeur */
    background: #f9f9f9;
    padding: 20px;
    border: 2px solid #2c3e50;
    border-radius: 8px;
    position: sticky; /* Le panier reste visible au scroll */
    top: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 0.9em;
}
.cart-total {
    margin-top: 15px;
    font-size: 1.2em;
    text-align: right;
}
